 .container_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(237, 195, 140);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border-radius: 20px;
    width: auto;
    height: auto;
    
} 

