.div_prin {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  width: 100%;
  margin: 0 auto;
}

.gifs-container {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px;
  width: 100%;   /* ocupa todo el espacio de la celda */
  height: auto;
}
